<div class="card" style="width: 25rem; height: 15rem;">
  <div class="card-body">
      <!-- <img class="card-img-top"  src="http://localhost:5000/assets/" alt="Card image cap"> -->

    <h5 class="card-title">{{categoryNames.name}}</h5> 
         <div>

           <!-- <button type="button" class="btn btn-dark" (click)="emitToParent(categoryNames._id)">Dark</button>  -->

           <button type="button"routerLink="/app-category-books/{{categoryNames._id}}" class="btn btn-dark" >Details</button> 


          

         </div>

  </div>
</div> 
