.add-user {
    font-size: 30px;
    color: black;
}

fa-icon {
    font-size: 17px;
}

th {
    color: rgb(0, 0, 0);
}
.add-user {
    font-size: 30px;
    color: black;
}

fa-icon {
    font-size: 17px;
}

