<!-- <div class="row">
    <div class="col-md-4 my-2" *ngFor="let auth of author">
        <div class="card-group" style="text-align: center;" >
            <div class="card mx-2 h-100">
            <img [src]='"http://localhost:5000/assets/"+auth.image' class="card-img-top" alt="...">
            <div class="card-body">
                <a routerLink="/author-details">{{auth.firstName}} {{auth.lastName}}</a>
                <button (click)="displayDetails(auth._id)" style="border: none; background: none;">{{auth.firstName}} {{auth.lastName}}</button>
            </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let auth of author">
        <div class="card">
            <img [src]='"http://localhost:5000/assets/"+auth.image' class="card-img-top" height="200px">
            <div class="card-body h-100">
            <div style="text-align: center;">
                <h5><button (click)="displayDetails(auth._id)" style="border: none; background: none;">{{auth.firstName}} {{auth.lastName}}</button></h5>
        </div>
            </div>
        </div>
    </div>
</div>