<div style="margin: auto; width: 50%;">
    <h2 style="font-family: 'Courier New', Courier, monospace; font-weight: bold; text-align: center;">Update Author</h2>
    <form class="add-form" [formGroup]="updateForm" (ngSubmit)="updateAuthor()" enctype="multipart/form-data" >
        <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input formControlName="image" type="file" class="form-control" id="image" name="image" aria-describedby="image" (change)="onFileSelected($event)">
        <br>
        <img [src]='"http://localhost:5000/assets/"+selectedAuthor.image' class="img-fluid rounded-start" style="height: 100px; width: 100px;">
    <hr>
        </div>
        <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input formControlName="firstName" type="text" class="form-control" id="firstName" name="firstName"  [ngModel] = "selectedAuthor?.firstName">
        <div class="form-text" *ngIf="updateForm.controls['firstName'].touched && updateForm.controls['firstName'].invalid">
            <span *ngIf="updateForm.controls['firstName'].errors?.['required']" class="text-danger"> First name is required</span>
            <span *ngIf="updateForm.controls['firstName'].errors?.['pattern']" class="text-danger"> First name should include only characters</span>
        </div>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" id="lastName" name="lastName" [ngModel] = "selectedAuthor?.lastName">
            <div class="form-text" *ngIf="updateForm.controls['lastName'].touched && updateForm.controls['lastName'].invalid">
                <span *ngIf="updateForm.controls['lastName'].errors?.['required']" class="text-danger"> Last name is required</span>
                <span *ngIf="updateForm.controls['lastName'].errors?.['pattern']" class="text-danger"> Last name should include only characters</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Date of Birth</label>
            <input formControlName="dateOfBirth" type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [ngModel] = "selectedAuthor?.dateOfBirth | date : 'yyyy-MM-dd'">
        </div>
        <button type="submit" class="btn btn-success form-control">Update</button>
    </form>
    </div>
    <h4 style="text-align: center; font-family: 'Courier New', Courier, monospace; font-weight: bold; margin-top: 5px;" class="text-success">{{message?.message}}</h4>
